*.xml
*.log
*.apk
*.iml
**/.vscode/
**/.idea/
*.pyc
.DS_Store
*.cfg
*.sqlite3
checkpoints/
runs/
__pycache__/
*.npy
*.so
.rendered

data/smart_channel/date=*
data/smart_channel/*.npz
data/smart_channel/*.txt
